<div ng-controller="CityPriceController as vm">
    <div class="clearfix col-lg-4">
        <div class="sk-spinner sk-spinner-wave" ng-if="vm.loading.remove">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <div class="ibox-content">
        <div class="alert alert-danger" ng-if="vm.error">
            <a href="#" class="alert-link" ng-bind-html="vm.error"></a>
        </div>
        <div class="alert alert-success" ng-if="!vm.error && !vm.loading">
            <a href="#" class="alert-link">Ошибок не найдено</a>
        </div>

        <div class="clearfix form-group">
            <button class="btn btn-primary" ng-click="vm.del()">
                <span class="glyphicon glyphicon-trash"></span>
                Удалить выбранные строки
            </button>

            <!--<button class="btn btn-primary" ng-click="vm.edit()" ng-disabled="vm.cityList.length==0">Редактировать-->
            <!--</button>-->
            <!--<button class="btn btn-primary" ng-click="vm.save()" ng-disabled="vm.cityList.length==0 || !vm.isEditing">-->
                <!--Сохранить-->
            <!--</button>-->
            <!--<button class="btn btn-primary" ng-click="vm.add()" ng-disabled="!vm.isEditing">-->
                <!--<span class="glyphicon glyphicon-plus"></span>-->
            <!--</button>-->
            <!--<button class="btn btn-primary pull-right" ng-click='csv.generate($event, "my-file.csv")'>-->
                <!--Экспорт-->
            <!--</button>-->
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Города
                <label class="pull-right">
                    <input
                            type="checkbox"
                            ng-model="vm.withKeys"
                            ng-change="vm.getCityPrice()"
                            ng-disabled="vm.loading.load"/>
                    C учетом коэффициентов
                </label>
            </div>
            <div class="panel-body">
                <div class="sk-spinner sk-spinner-wave" ng-show="vm.loading.load">
                    <div class="sk-rect1"></div>
                    <div class="sk-rect2"></div>
                    <div class="sk-rect3"></div>
                    <div class="sk-rect4"></div>
                    <div class="sk-rect5"></div>
                </div>
                <div id="scrollable-area">
                    <table ng-table="vm.tableParams" class="users-table table table-striped table-hover" export-csv='csv' delimiter=";">
                        <tr ng-repeat="item in $data" ng-class="{'double': item.error=='double'}">
                            <td width="30" style="text-align: left" header="'ng-table/headers/checkbox.html'">
                                <input type="checkbox" ng-model="vm.checkboxes.items[item.id]"/>
                            </td>
                            <td title="'Город отправки'" ng-switch="vm.isEditing">
                                <span ng-switch-default class="editable-text">{{item.cityFrom}}</span>
                                <div ng-switch-when="true">
                                    <input type="text" ng-model="item.cityFrom"
                                           class="editable-input form-control input-sm"/>
                                </div>
                            </td>
                            <td title="'Город доставки'" sortable="'cityTo'" filter="{cityTo: 'text'}" ng-switch="vm.isEditing">
                                <span ng-switch-default class="editable-text">{{item.cityTo}}</span>
                                <div ng-switch-when="true">
                                    <input type="text" ng-model="item.cityTo"
                                           class="editable-input form-control input-sm"/>
                                </div>
                            </td>
                            <td title="'1.5 тонны'" sortable="'field1'" ng-switch="vm.isEditing">
                                <span ng-switch-default class="editable-text">{{item.field1}}</span>
                                <div ng-switch-when="true">
                                    <input type="text" ng-model="item.field1"
                                           class="editable-input form-control input-sm"/>
                                </div>
                            </td>
                            <td title="'5 тонн'" sortable="'field2'" ng-switch="vm.isEditing">
                                <span ng-switch-default class="editable-text">{{item.field2}}</span>
                                <div ng-switch-when="true">
                                    <input type="text" ng-model="item.field2"
                                           class="editable-input form-control input-sm"/>
                                </div>
                            </td>
                            <td title="'10 тонн'" sortable="'field3'" ng-switch="vm.isEditing">
                                <span ng-switch-default class="editable-text">{{item.field3}}</span>
                                <div ng-switch-when="true">
                                    <input type="text" ng-model="item.field3"
                                           class="editable-input form-control input-sm"/>
                                </div>
                            </td>
                            <td title="'20 тонн'" sortable="'field4'" ng-switch="vm.isEditing">
                                <span ng-switch-default class="editable-text">{{item.field4}}</span>
                                <div ng-switch-when="true">
                                    <input type="text" ng-model="item.field4"
                                           class="editable-input form-control input-sm"/>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <script type="text/ng-template" id="ng-table/headers/checkbox.html">
                        <!--<input type="checkbox" ng-model="vm.checkboxes.checked" id="select_all" name="filter-checkbox" value="" />-->
                    </script>
                </div>
            </div>
        </div>
    </div>


</div>