<div ng-controller="CityListController as vm">

    <div class="clearfix col-lg-4">
        <div class="sk-spinner sk-spinner-wave" ng-if="vm.loading.remove">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="ibox-content">
        <div class="clearfix form-group">
            <button class="btn btn-primary" ng-click="vm.deleteTrace()">
                <span class="glyphicon glyphicon-trash"></span>
                Удалить выбранные направления
            </button>
            <button class="btn btn-warning" ng-click="vm.truncate()">
                <span class="glyphicon glyphicon-trash"></span>
                Удалить все
            </button>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Города
            </div>
            <div class="panel-body">
                <div id="scrollable-area">
                    <table ng-table="vm.tableParams" class="users-table table table-striped table-hover">
                        <tr ng-repeat="city in $data">
                            <td width="30" style="text-align: left" header="'ng-table/headers/checkbox.html'">
                                <input type="checkbox" ng-model="vm.checkboxes.items[city.id]"/>
                            </td>
                            <td title="'ID'">
                                {{city.id}}
                            </td>
                            <td title="'Город'" sortable="'name'" filter="{name: 'text'}">
                                <a ng-click="vm.goToPrice(city)">{{city.name}}</a>
                            </td>
                            <td title="'По умолчанию'" sortable="'defaultCity'">
                                <input type="checkbox" ng-click="vm.setDefault(city.id, city.defaultCity)" ng-model="city.defaultCity" ng-true-value="'1'" ng-false-value="'0'" />
                            </td>
                        </tr>
                    </table>
                    <script type="text/ng-template" id="ng-table/headers/checkbox.html">
                        <!--<input type="checkbox" ng-model="vm.checkboxes.checked" id="select_all" name="filter-checkbox" value="" />-->
                    </script>
                    <div class="sk-spinner sk-spinner-wave" ng-if="vm.loading.load">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>