<div ng-controller="KeyLogController as vm">

    <div class="ibox-content col-lg-8">

        <div class="sk-spinner sk-spinner-wave" ng-if="vm.loading">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>

        <form class="form-inline form-group clearfix" role="form">
            <div class="form-group">
                <label class="sr-only">Новый коэффициент</label>
                <div class="col-xs-2">
                    <input class="form-control" placeholder="Коэфф. 1.5т" ng-model="vm.newKeys.key1">
                </div>
                <div class="col-xs-2">
                    <input class="form-control" placeholder="Коэфф. 5т" ng-model="vm.newKeys.key2">
                </div>
                <div class="col-xs-2">
                    <input class="form-control" placeholder="Коэфф. 10т" ng-model="vm.newKeys.key3">
                </div>
                <div class="col-xs-2">
                    <input class="form-control" placeholder="Коэфф. 20т" ng-model="vm.newKeys.key4">
                </div>
                <div class="col-xs-2">
                    <button
                            type="submit"
                            class="btn btn-primary"
                            ng-click="vm.setKey()"
                            ng-disabled="!vm.newKeyIsValid()">
                        Установить
                    </button>
                </div>
            </div>
            <div>

            </div>
        </form>

        <div class="panel panel-primary">
            <div class="panel-heading">
                История коэффициентов
            </div>

            <div id="scrollable-area">
                <table ng-table="vm.tableParams" class="keys-table table table-striped table-hover">
                    {{$data}}
                    <tr ng-repeat="item in $data">

                        <td title="'ID'">
                            {{item.id}}
                        </td>
                        <td title="'Коэфф. 1.5т'" sortable="'name'">
                            {{item.key1 ? item.key1 : '-'}}
                        </td>
                        <td title="'Коэфф. 5т'" sortable="'name'">
                            {{item.key2 ? item.key2 : '-'}}
                        </td>
                        <td title="'Коэфф. 10т'" sortable="'name'">
                            {{item.key3 ? item.key3 : '-'}}
                        </td>
                        <td title="'Коэфф. 20т'" sortable="'name'">
                            {{item.key4 ? item.key4 : '-'}}
                        </td>
                        <td title="'Дата изменения'" sortable="'name'">
                            {{item.dateChange}}
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>