<div ng-controller="ImportPriceController as vm">
    <div class="ibox-content col-lg-4">
        <form enctype="multipart/form-data" name="upload_file">
            <div class="row clearfix form-group">
                <div class="col-md-12">
                    <input type="file" name="file" ng-model="vm.csv" id="csv">
                </div>
            </div>
            <button class="btn btn-white" ng-click="vm.readFile(csv, true)"
                    title="Импорт прайса 1 в 1 как в файле. Убедитесь, что формат Кирилица UTF8 (без BOM)">Далее
            </button>
            <!--<button class="btn btn-white" type="submit" ng-click="vm.readFile(csv, false)">Расширенный импорт</button>-->
        </form>
    </div>
    <div class="clearfix"></div>
    <div class="ibox-content col-lg-4" >
        <h1 ng-switch="vm.isCSVImport">
            <span ng-switch-when="true">Импорт CSV файла целиком</span>
            <span ng-switch-when="false">Расширенный импорт</span>
        </h1>

        <div class="panel panel-primary">
            <div class="panel-heading">
                Города в списке
            </div>
            <div class="small-scrollable-area">
                <div ng-repeat="item in vm.cityList track by $index" class="city_name">
                    <a ng-click="vm.showItem(item)">{{item}}</a>
                    <!--<a class="pull-right btn btn-white btn-xs" ng-click="vm.remove(item)"-->
                       <!--ng-disabled="vm.isCSVImport"><span class="fa fa-trash"></span></a>-->
                </div>
                <div ng-if="vm.cityList.length==0">
                    Загрузите прайс для отображения списка городов
                </div>
            </div>
        </div>
        <!--<button class="btn btn-primary" ng-click="vm.update()" ng-disabled="vm.cityList.length==0 || vm.isCSVImport" ng-if="!vm.isCSVImport">-->
            <!--Обновить прайсы-->
        <!--</button>-->
        <!--<button class="btn btn-primary" ng-click="vm.insert()" ng-disabled="vm.cityList.length==0 || vm.isCSVImport" ng-if="!vm.isCSVImport">-->
            <!--Записать заново-->
        <!--</button>-->
        <button class="btn btn-primary" ng-click="vm.importCSV(csv)" ng-disabled="!vm.isCSVImport" ng-if="vm.isCSVImport">Импорт csv</button>
    </div>

    <div class="ibox-content col-lg-4">
        <div class="message" ng-if="vm.message">
            <span ng-bind-html="vm.message"></span>
        </div>
        <div class="sk-spinner sk-spinner-wave" ng-if="vm.loading">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>

</div>

<style>
    .message {
        height: 150px;
        overflow-y: scroll;
    }
</style>