<div class="inmodal">
    <div class="modal-header">

    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12" ng-repeat="item in vm.items">

                <div class="col-xs-2">{{item.cityFrom}}</div>
                <div class="col-xs-2">{{item.cityTo}}</div>
                <div class="col-xs-2">{{item.field1}}</div>
                <div class="col-xs-2">{{item.field2}}</div>
                <div class="col-xs-2">{{item.field3}}</div>
                <div class="col-xs-2">{{item.field4}}</div>

            </div>
        </div>

    </div>

</div>

