.hero {
  height: 450px;
  width: 100%;
  background: url('../assets/images/hero-big.jpg') no-repeat center center;
  background-size: cover;
  border-bottom: 4px solid $c_red;
  position: relative;

  &__title-wrapper {
    padding-top: 48px;
    padding-right: 15px;
  }

  &__title {
    color: #000;
    text-align: right;
    font-family: $f_helvetica;
    line-height: 1;
    font-weight: 700;
    font-size: 39px;
    margin-bottom: 5px;
  }

  &__title2 {
    color: #000;
    text-align: right;
    font-family: $f_helvetica;
    font-size: 22px;
    float: right;
    text-transform: uppercase;
  }

  .overflow {
    background: rgba(0, 0, 0, 0.6);
    padding: 35px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}









