/**
 * Content CSS File
 * Contains all content related styles
 *
 * @author      Flurin Dürst
 * @version     1.7
 * @since       WPSeed 0.1
 *
 */

@import 'vars';

/* HEADINGS, PARAGRAPHS
/===================================================== */

h1 {
  margin: 0 0 .25rem 0;
  font-size: 2rem;
}

h2 {
  margin: 0 0 .5rem 0;
  font-size: 1.5rem;
}

p {
  margin: 0 0 .5rem 0;
}


/* PAGES
/===================================================== */

/* TEMPLATE - HOME
/------------------------*/
.teaser {
  width: 100%;
  height: 25rem;
  background-position: center;
  background-size: cover;
}


/* TEMPLATE - BLOG
/------------------------*/
.blog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  article {
    flex-basis: calc(90% / 2);
    margin-bottom: 1rem;
    @include mobile {
      flex-basis: 100%;
    }
    .readmore a {
      color: $c_link;
      &:hover {
        opacity: .5;
      }
    }
  }
}

.blog,
.post {
  .postinfo {
    margin: 0 0 1rem 0;
    color: $c_grey;
  }

  .thumbnail {
    width: 100%;
    height: 15rem;
    margin-bottom: .5rem;
    background-size: cover;
  }
}


/* TEMPLATE - SUBSITES
/------------------------*/
.subsites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  section {
    flex-basis: calc(90% / 3);
    margin-bottom: 1rem;
    @include vpw_min(1600px) {
      flex-basis: calc(90% / 4);
    }
    @include vpw_max(1000px) {
      flex-basis: calc(90% / 2);
    }
    @include mobile {
      flex-basis: 100%;
    }
    .thumbnail {
      width: 100%;
      height: 15rem;
      background-size: cover;
    }
  }
}


/* FOOTER
/===================================================== */

.footer {
  width: 100%;
  margin-top: auto;
  padding: 1.5rem;
  font-size: .8rem;
  color: $c_grey;
  background: $c_bright;
  box-shadow: $shadow_material_s1;
}
