/**
 * Main CSS File
 * Merges all .scss files before they're processed by gulp
 * included external sources: Bower, Normalize
 *
 * @author      Flurin Dürst
 * @version     1.3
 * @since       WPSeed 0.1
 *
 */


@charset 'UTF-8';

/* VARS/FUNCTIONS
/===================================================== */
@import 'vars';
@import 'essentials';

/* STYLES
/===================================================== */
// bower:scss
@import "../../bower_components/css-hamburgers/_sass/hamburgers/hamburgers.scss";
// endbower
//@import 'general';
@import 'content';
@import '../../inc/home/style.scss';
@import '../../inc/common/calculator/style.scss';
@import '../../inc/common/hero/style.scss';
@import '../../inc/common/main-menu/style.scss';
@import '../../inc/common/top-menu/style.scss';

.container {
  width: 1170px !important;
  max-width: none;
  margin: 0 auto;
}