 /**
  * Variables CSS File
  * Contains re-usable variables like
  * colors, sizes, breakpoints etc
  * we don't have to add styles to responsive.css and general.css
  * because we define settings here (we might add some though)
  *
  * @author     Flurin Dürst
  * @version    1.4.0
  * @since      WPSeed 0.1
  *
  */


/* GENERAL
/===================================================== */

/* SIZE/SCALING
/------------------------*/
$size:                2vw;          // scales all `rem` based elements
$size_mobile:         $size * 2.2;  // scaling filter for mobile viewport
$scaling_breakpoint:  1200px;       // scaling of all `rem` based elements stops here
$desktop_min:         800px;        // Desktop/Mobile Breakpoint


/* DEFAULT COLORS
/===================================================== */

  /* Theme
  /------------------------*/
  // these variables are used in general.css and
  $c_dark:         #333333;
  $c_bright:       #f7f7f2;
  $c_grey:         #b5b5b1;
  $c_green:        #97c475;

  /* Text
  /------------------------*/
  $c_text:        $c_dark;
  $c_link:        $c_dark;
  $c_link_hover:  $c_dark;

 $c_red:         #d32426;
 $c_red_hover:   #af0118;



/* FONT STYLING
/===================================================== */
  $f_helvetica:      'Helvetica, Arial, sans-serif';  // Normal 400, Medium 500, Bold 700
  $f_roboto_medium:      'Roboto-Medium';  // Normal 400, Medium 500, Bold 700
  $font_size:      1rem;      // default font-size (applied to body)
  $line_height:    1.3;       // default line-height (applied to body)
  $font_weight:    300;       // default font-weight (applied to body)


/* SHADOWS
/===================================================== */

  /* Material Shadows
  /------------------------*/
  // original
  $shadow_material_s1:    0 2px 5px 0 rgba(0, 0, 0, 0.16),    0 2px 10px 0 rgba(0, 0, 0, .12);
  $shadow_material_s2:    0 8px 17px 0 rgba(0, 0, 0, 0.2),    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  $shadow_material_s3:    0 12px 15px 0 rgba(0, 0, 0, 0.24),    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  $shadow_material_s4:    0 16px 28px 0 rgba(0, 0, 0, 0.22),    0 25px 55px 0 rgba(0, 0, 0, 0.21);
  $shadow_material_s5:    0 27px 24px 0 rgba(0, 0, 0, 0.2),    0 40px 77px 0 rgba(0, 0, 0, 0.22);
  // softened
  $shadow_material_soft_s1:  0 1px 2px 0 rgba(0, 0, 0, 0.08),    0 1px 5px 0 rgba(0, 0, 0, 0.06);
  $shadow_material_soft_s2:  0 4px 8px 0 rgba(0, 0, 0, 0.1),      0 3px 10px 0 rgba(0, 0, 0, 0.1);
  $shadow_material_soft_s3:  0 6px 7px 0 rgba(0, 0, 0, 0.12),    0 8px 25px 0 rgba(0, 0, 0, 0.10);
  $shadow_material_soft_s4:  0 8px 14px 0 rgba(0, 0, 0, 0.11),    0 12px 27px 0 rgba(0, 0, 0, 0.11);
  $shadow_material_soft_s5:  0 14px 12px 0 rgba(0, 0, 0, 0.1),    0 20px 48px 0 rgba(0, 0, 0, 0.12);
