.logo {
  margin: 0 0 3px 0;
  img {
    width: 150px;
  }
}

.col-cs {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid #000;
}

#pre_nav {
  padding: 10px 0 0 0;

  .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 55%;
    float: left;
    padding-top: 8px;
    text-transform: uppercase;

    a {
      display: block;
      padding: 0 30px;
      line-height: inherit;
      cursor: pointer;
    }

    &__menu {
      padding-left: 16px;
      padding-top: 6px;
      line-height: 30px;

      &-item {
        display: table;
        position: relative;
        margin: 0 auto;
        font-family: calibri;

        a {
          color: #000;
          text-decoration: none;
          font-weight: bold;
          font-size: 14px;

          &:hover {
            color: #da251d;
          }
        }

        &:hover {
          background-color: #fff;

          a {
            color: #000;
          }
        }

        > a:hover {
          text-decoration: none;
        }

        &:hover .nav__submenu {
          display: block;
          padding-left: 0;
        }
      }
    }

    &__submenu {
      text-transform: none;
      display: none;
      position: absolute;
      width: 220px;
      background-color: #fff;
      box-shadow: 2px 2px 1px 0px rgba(50, 50, 50, 0.5);
      z-index: 10000;

      li {
        line-height: 40px;
        margin-bottom: 2px;
        background: #e2e2e2;
        text-transform: uppercase;

        a:hover {
          text-decoration: none;
          font-weight: 400;
        }
      }
    }

  }

  .logo {
    margin: 0 0 3px 0;
    display: block;
  }
  .logo-otp {
    color: #ad261f;
    font-size: 13px;
  }

  .region {
    color: #d32426;
    text-decoration: underline;

    a {
      color: #000000;
      text-transform: uppercase;
      font-size: 13px;
    }
  }
}

