.form-online {
  text-align: center;
  position: relative;

  form {
    background: none;
    display: inline-block;
  }

  .input-group {
    float: left;
  }

  h3 {
    text-transform: uppercase;
    font-size: 19px;
    margin-top: 2px;
    padding-left: 0;
    color: #fff;
    font-family: $f_roboto_medium;
  }

  .btn {
    background: $c_red;
    border-radius: 0;
    color: #fff;
    padding: 8px 30px;
    font-family: $f_helvetica;
    font-size: 16px;
  }

  .btn:hover {
    background: $c_red_hover;
    color: #ececec;
  }

  .form-control {
    width: 155px;
    height: 40px;
    margin-right: 10px;
    padding-left: 30px;
  }

  .input-group input#whence,
  .input-group input#where {
    background: #fff url("img/input-flag.png") no-repeat 8px 50%;
  }
  .input-group input#mass {
    background: #fff url("../assets/images/icon-png/input-mass.png") no-repeat 8px 50%;
    padding-left: 40px;
  }

}
