.view .mask,
.view .content {
  width: 270px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.advantages {
  width: 1170px;
  position: relative;
  margin: 0 auto;
  left: 15px;
  border-bottom: 1px solid #e4e4e4;

  .view {
    width: 272px;
    height: 200px;
    margin: 10px;
    text-align: center;
    float: left;
    border: 0 solid rgba(169, 22, 22, 0.02);
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0 #e6e6e6;
    cursor: default;
    font-size: 12px;
    text-transform: uppercase;
    color: $c_red;
    text-decoration: underline;
    background: #efefef;

    img {
      display: block;
      position: relative;
      margin: 30px auto;
      margin-bottom: 8px;
      margin-top: 20px;
    }

    h2 {
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: relative;
      font-size: 16px;
      padding: 5px;
      background: rgba($c_red, 0.9);
      margin: 10px 0 0 0;
    }

    p {
      font-size: 12px;
      position: relative;
      color: #efefef;
      padding: 10px 20px 10px;
      text-align: center;
    }

    a {
      &.info {
        display: inline-block;
        text-decoration: none;
        padding: 7px 14px;
        background: rgba(255, 255, 255, 1);
        color: $c_red;
        text-transform: uppercase;

        &:hover {
          box-shadow: 0 0 5px #000;
        }
      }
    }
  }

  .view-second {
    span {
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0.6px;
    }

    img {
      transition: all 0.1s ease-in;
    }

    .mask {
      background-color: rgba($c_red, 0.9);
      width: 300px;
      padding: 60px;
      height: 300px;
      filter: alpha(opacity=0);
      opacity: 0;
      transform: translate(265px, 145px) rotate(45deg);
      transition: all 0.1s ease-in-out;
    }

    h2 {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      background: transparent;
      transform: translate(200px, -200px);
      transition: all 0.1s ease-in-out;
    }

    p {
      transform: translate(-200px, 200px);
      transition: all 0.1s ease-in-out;
    }

    a.info {
      transform: translate(0px, 100px);
      transition: all 0.1s 0.1s ease-in-out;
    }

    &:hover {
      .mask {
        filter: alpha(opacity=100);
        opacity: 1;
        transform: translate(0px, -100px) rotate(90deg);
      }
    }

    &:hover {
      h2 {
        transform: translate(0px, 0px);
        transition-delay: 0.3s;
      }

      p {
        transform: translate(0px, 0px);
        transition-delay: 0.4s;
      }

      a.info {
        transform: translate(0px, 0px);
        transition-delay: 0.5s;
      }
    }

  }
}

.anchor {
  text-decoration: none;
}